@font-face {
	font-family: "Mono Pl";
	src: url(../assets/fonts/CascadiaMonoPL-Regular.otf);
}

.contact {
    display: flex;
    flex-direction: column;
    min-height: 40vh;
    background-color: #74C5BC;
    padding: 0px 100px;
    margin-top: 40px;
    padding-bottom: 40px;
    justify-content: space-evenly;
}

.Title{
    color: #000000;
    font-family: "Mono Pl";
    font-size: 16px;
    text-align: left;
    align-items: left;
    display: flex;
    flex-direction: row;
}


.contact input{
  background: none;
    border: none;
    border-bottom: 2px solid #000000;
    width: 250Px;
    text-align: center;
    font-family: "Mono Pl";
    color: black;
    padding-bottom: 15px;
    margin-top: 20px;
    
   
}

textarea{
    background: none;
    border: 2px solid #000000;
    width: 250Px;
    height: 100px;
    max-height: 190px;
    text-align: center;
    font-family: "Mono Pl";
    color: black;
}

.contact input::placeholder{
    color: black;
    font-family: "Mono Pl";
    font-weight: 400;
}


.form{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center elements inside the form */
}

.left{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}
.rigth{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

form button{
    background: none;
    border-style: none;
    border-bottom: 2px solid #000000;
    color: black;
    font-family: "Mono Pl";
    font-size: 20px;
    margin-top: 40px;
    padding: 10px;
    cursor: pointer;
}

@media (max-width: 768px) {
  
    .form{
        display: flex;
        flex-direction: column;
    }
    
}

@media (max-width: 480px) {
    
    .form{
        display: flex;
        flex-direction: column;

    }

    .left{
        margin-right: 0px;
    }
}