@font-face {
	font-family: "Mono Pl";
	src: url(../assets/fonts/CascadiaMonoPL-Regular.otf);
}

i{
    margin-right: 10px;
    margin-bottom: 10px;
}

.back{
  margin-top: 30px;
}
.DetailedView{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0px 100px;
}

.left{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.right{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
}

.detailsWrapper{
    display: flex;
    flex-direction: row;
}
.DetailedView p{
    color: white;
    font-family: "Roboto", sans-serif;
 
}

.info{
    margin-bottom: 30px;
}

.top{
    display: flex;
    flex-direction: column;
}


.Title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: white;
    font-family: "Roboto", sans-serif;
    margin-top: 20px;
}

.details{
    width: 300px;
}

.gitURL{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #74C5BC;
    font-family: 'mono pl';
   
}

.skills {
    margin-top: 30px;
  }
  
  .skills h3 {
    color: #74c5bc;
    font-family: "Mono Pl";
    font-size: 16px;
    text-align: left;
    align-items: left;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
  
  .skills ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .skillItem {
    display: flex;
    align-items: center;
    background-color: #1c1b1b; /* Slightly darker for contrast */
    margin: 10px 10px;
    padding: 20px 15px;
    border-radius: 10px; /* Rounded corners */
    border: 1px solid #2a2a2a; /* Subtle border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Soft shadow */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .skillItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25);
  }
  
  .skillIcon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .skillItem span {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: white;
  }

  .viewMoreButton {
    margin-top: 10px;
    margin-bottom: 40px;
    width: 120px;
    font-size: 16px;
}


/* carrousel */

.carousel {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
    margin-top: 20px;
}

.projectImage {
	max-width: 100%;
	height: auto;
}

.prevButton,
.nextButton {
	background-color: transparent;
	border: none;
	font-size: 2rem;
	cursor: pointer;
	color: #74c5bc;
	position: absolute;
}

.prevButton {
	left: 10px;
}

.nextButton {
	right: 10px;
}

@media (max-width: 1024px){
  .DetailedView {
		padding: 0px 50px;
	}
    
}

@media (max-width: 480px){
    .DetailedView{
        padding: 0px 40px;
    }
.detailsWrapper{
  display: flex;
  flex-direction: column-reverse


}
    .Title{
        font-size: 1.5rem;
    }
    .gitURL{
        font-size: 1rem;
        width: 250px;
    }
    .skills h3 {
        font-size: 14px;
    }
    .skillItem {
        padding: 10px 10px;
    }
    .skillIcon {
        width: 30px;
        height: 30px;
    }
    .skillItem span {
        font-size: 16px;
    }
    .viewMoreButton {
        margin-top: 10px;
        margin-bottom: 20px;
        width: 100px;
        font-size: 14px;
    }
    .carousel {
        margin-top: 10px;
    }

    .right{
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: 30px;
    }

    .left{
      width: 100%;
    }

    .projectImage {
        max-width: 100%;
        height: auto;
    }
    .prevButton,
    .nextButton {
        font-size: 1.5rem;
    }

    .skills ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}