.Skills {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    padding: 0px 100px;
    margin-bottom: 50px;
  }
  
  .Title{
    color: #74C5BC;
    font-family: "Mono Pl";
    font-size: 16px;
    text-align: left;
    align-items: left;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
  
  .skillList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  
  
  
  .skill {
    display: flex;
    align-items: center;
    background-color: #1c1b1b; /* Slightly darker for contrast */
    margin: 10px 10px;
    padding: 20px 15px;
    border-radius: 10px; /* Rounded corners */
    border: 1px solid #2a2a2a; /* Subtle border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Soft shadow */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.skill:hover {
    transform: translateY(-5px); /* Hover effect */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4); /* Highlight on hover */
}
  
  .skillImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    /* You can add more styles to fit the image dimensions */
  }
  
  .skillName p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: white;
    margin-right: 10px;
    margin: 0px 0px 10px 0px;
  }
  
  .skillLevel {
    display: flex;
  }
  
  .skillBar {
    width: 40px;
    height: 10px;
    margin-right: 5px;
    border-radius: 5px;
}

.filled {
    background-color: #74C5BC;
}

.unfilled {
    background-color: #555555; /* Darker shade for better contrast */
}

.Search{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding: 0px 100px;
}

.FilterBox label {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: white;
    margin-right: 10px;

}

.FilterBox input {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: white;
    background-color: #181516;
    border-style: none;
    border-bottom: 1px solid #74C5BC;
    padding: 5px;
    margin-right: 10px;
}

@media (max-width: 480px) {
  .Skills {
      padding: 0px 40px;
  }
}