@font-face {
	font-family: "Mono Pl";
	src: url(../assets/fonts/CascadiaMonoPL-Regular.otf);
}

.header{
	height: 85vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.Text{
	color: #74C5BC;
	font-family: "Mono Pl";
	font-size: 3rem;
}

.IntroText{
	color: #74C5BC;
	font-family: "Mono Pl";
	font-size: 1rem;
	margin: 40px 100px;
	
}

.buttons button{
	margin-right: 50px;
}



@media (max-width: 768px) {
	.introText {
		font-size: 2rem; /* Smaller font size for tablet or smaller screens */
		margin: 40px 50px; /* Adjust margins for smaller screens */
	}
}

@media (max-width: 480px) {

	.Text{
		font-size: 1.5rem;
	}

	.buttons button{
		margin-right: 20px;
	}
}


@media (max-width: 400px){
	.Text{
		font-size: 1.2rem;
	}

	.IntroText{
		font-size: 1rem;
		margin: 20px 40px;
	}
}
