body {
  margin: 0;
  background-color: #181516;
}

html {
  scroll-behavior: smooth;
}


.dynamicMargin {
  margin-left: 400px;
  display: inline-block; /* Ensures margin works as expected */
}

@media (max-width: 480px) {
  .dynamicMargin {
    margin-left: 50px; /* Adjust this value to your needs */
  }
}
